In [1]:
import time as tm
import datetime as dt

# numpy
import numpy as np
# pandas
import pandas as pd

In [2]:
# Make pseudo data set:

timestamp_low = 1e9           # 2001-09-09
timestamp_high = 1e9 + 2e8    # 2008-01-11
total_unit = 1000
total_record = 100000

codes = np.random.randint(low=1, 
                          high=total_unit, 
                          size=total_record)
lst_code = ["%4.4d"%(x) for x in codes] 
lst_timestamp = np.random.randint(low=timestamp_low,
                                  high=timestamp_high,
                                  size=total_record)
lst_datetime = [str(dt.datetime.fromtimestamp(x)) for x in lst_timestamp]
dfData = pd.DataFrame(data=zip(lst_code, lst_datetime), columns=["Code", "DateTime"])
dfData

       Code             DateTime
0      0140  2006-01-28 09:10:40
1      0357  2007-07-23 04:38:08
2      0964  2005-07-09 07:13:52
3      0450  2002-08-05 04:55:26
4      0299  2004-07-05 11:31:51
5      0229  2007-04-15 05:01:12
6      0608  2006-11-10 23:40:43
7      0421  2007-11-26 04:18:03
8      0392  2003-05-28 17:51:03
9      0456  2006-04-07 21:40:34
10     0306  2001-11-12 13:07:21
11     0651  2005-02-15 15:49:01
12     0677  2006-09-12 09:00:03
13     0755  2007-03-30 04:30:33
14     0078  2004-04-09 12:35:33
15     0685  2007-10-08 18:46:02
16     0055  2005-01-08 00:14:22
17     0117  2004-02-19 08:07:00
18     0155  2006-10-20 08:31:08
19     0369  2007-03-10 20:00:05
20     0636  2001-11-01 05:38:05
21     0486  2007-10-17 20:24:56
22     0562  2003-09-15 11:34:27
23     0322  2007-05-22 17:26:29
24     0457  2006-02-07 13:35:15
25     0151  2007-06-02 13:29:26
26     0203  2007-05-18 20:14:49
27     0847  2007-10-25 15:46:21
28     0282  2004-05-25 05:52:16
29     0552  2002-07-04 21:56:47
...     ...                  ...
99970  0744  2006-10-06 18:02:49
99971  0536  2005-07-01 01:24:16
99972  0989  2004-04-14 02:41:09
99973  0476  2007-11-04 10:22:28
99974  0268  2002-08-24 10:43:44
99975  0359  2007-03-28 11:32:31
99976  0350  2005-09-22 04:55:02
99977  0045  2003-12-28 09:58:00
99978  0002  2006-10-19 05:17:16
99979  0488  2002-12-10 15:42:25
99980  0871  2006-04-21 21:56:06
99981  0589  2007-06-01 09:18:55
99982  0993  2003-10-02 09:44:58
99983  0867  2007-04-04 22:15:34
99984  0680  2005-11-03 08:00:21
99985  0827  2004-08-11 12:13:54
99986  0794  2003-08-10 06:44:56
99987  0198  2003-11-20 08:22:23
99988  0464  2005-12-25 12:54:53
99989  0422  2003-10-14 06:53:47
99990  0958  2004-11-04 18:51:02
99991  0586  2005-06-29 07:10:49
99992  0092  2005-02-17 03:30:48
99993  0200  2002-11-11 07:21:50
99994  0891  2005-06-29 01:34:28
99995  0287  2004-02-08 06:32:18
99996  0145  2007-05-08 06:46:29
99997  0050  2002-08-24 18:01:11
99998  0132  2002-02-13 00:02:51
99999  0207  2007-07-31 01:58:50

[100000 rows x 2 columns]

In [3]:
# Scan data set to generate time span for each code:

codeTable = set(dfData["Code"])
result = []

tk1 = tm.clock()

for code in codeTable:
    chk = dfData["Code"].isin([code])
    dfSub = dfData[chk]
    
    dts = [dt.datetime.strptime(x,"%Y-%m-%d %H:%M:%S") for x in dfSub["DateTime"].values]
    tss = [tm.mktime(x.timetuple()) for x in dts]
    tss_min = min(tss)
    tss_max = max(tss)
    
    rec = [code,                                # code string
           dt.datetime.fromtimestamp(tss_min),  # datetime object of the minimum
           dt.datetime.fromtimestamp(tss_max),  # datetime object of the maximum
           tss_min,                             # minimium timstamp value
           tss_max,                             # maximum timestamp value
           (tss_max - tss_min),                 # difference of the min and max timestamps (seconds)
           (tss_max - tss_min)/(3600*24)]       # difference repsented by value of days
    result.append(rec)
    
tk2 = tm.clock()
print 'count of result =',len(result)
print 'time counsumer = %1.3f(s)'%(tk2-tk1)
print
print result[0]
print result[100]

count of result = 999
time counsumer = 3.405(s)

['0329', datetime.datetime(2001, 9, 16, 2, 31, 25), datetime.datetime(2007, 12, 25, 17, 44, 31), 1000571485.0, 1198565071.0, 197993586.0, 2291.5924305555554]
['0614', datetime.datetime(2001, 9, 11, 20, 8, 50), datetime.datetime(2007, 12, 29, 22, 7, 49), 1000202930.0, 1198926469.0, 198723539.0, 2300.040960648148]

In [4]:
# Result list to dataframe
dfResult = pd.DataFrame(data=result,
                        columns=['code','Min','Max','TS_Min','TS_Max','TS_Diff','Diff_in_Days'])
dfResult

,code,Min,Max,TS_Min,TS_Max,TS_Diff,Diff_in_Days
0,0329,2001-09-16 02:31:25,2007-12-25 17:44:31,1.000571e+09,1.198565e+09,197993586.0,2291.592431
1,0328,2001-09-14 16:09:35,2007-10-25 15:22:31,1.000448e+09,1.193286e+09,192838376.0,2231.925648
2,0835,2001-10-08 00:47:42,2008-01-06 19:59:58,1.002462e+09,1.199610e+09,197147536.0,2281.800185
3,0834,2001-09-12 01:55:44,2008-01-10 14:27:35,1.000224e+09,1.199936e+09,199711911.0,2311.480451
4,0487,2001-09-12 13:12:29,2008-01-09 04:55:08,1.000264e+09,1.199815e+09,199550559.0,2309.612951
5,0836,2001-09-22 04:49:34,2007-12-06 15:35:14,1.001098e+09,1.196916e+09,195817540.0,2266.406713
6,0831,2001-09-12 15:15:23,2007-10-31 11:36:49,1.000272e+09,1.193791e+09,193519286.0,2239.806551
7,0830,2001-10-16 20:46:05,2008-01-04 21:47:26,1.003226e+09,1.199444e+09,196218081.0,2271.042604
8,0833,2001-09-23 23:09:04,2008-01-01 16:10:03,1.001251e+09,1.199164e+09,197913659.0,2290.667350
9,0832,2001-10-29 00:26:15,2007-12-26 03:06:08,1.004276e+09,1.198599e+09,194323193.0,2249.111030
10,0052,2001-09-19 15:06:29,2008-01-05 21:39:14,1.000876e+09,1.199530e+09,198653565.0,2299.231076
11,0130,2001-09-12 17:48:34,2007-12-31 22:31:13,1.000281e+09,1.199101e+09,198819759.0,2301.154618
12,0839,2001-09-22 10:15:27,2008-01-02 11:25:45,1.001118e+09,1.199234e+09,198115818.0,2293.007153
13,0838,2001-09-30 06:56:35,2007-12-22 21:24:23,1.001797e+09,1.198319e+09,196522068.0,2274.560972
14,0038,2001-10-09 07:07:24,2007-10-23 00:09:16,1.002572e+09,1.193059e+09,190486912.0,2204.709630
15,0545,2001-09-24 06:35:15,2008-01-04 06:08:10,1.001277e+09,1.199387e+09,198109975.0,2292.939525
16,0544,2001-09-10 03:15:35,2008-01-03 14:48:23,1.000056e+09,1.199332e+09,199276368.0,2306.439444
17,0547,2001-09-14 11:27:09,2007-11-26 12:10:44,1.000431e+09,1.196039e+09,195608615.0,2263.988600
18,0546,2001-09-19 09:01:42,2007-11-22 03:28:18,1.000854e+09,1.195662e+09,194808396.0,2254.726806
19,0541,2001-09-09 15:35:51,2007-12-04 12:00:58,1.000014e+09,1.196730e+09,196716307.0,2276.809109
20,0540,2001-11-10 19:29:55,2007-12-24 19:10:01,1.005381e+09,1.198484e+09,193102806.0,2234.986181
21,0543,2001-11-22 18:02:32,2007-12-14 20:51:09,1.006413e+09,1.197626e+09,191213317.0,2213.117095
22,0429,2001-09-17 04:51:41,2008-01-10 16:29:28,1.000666e+09,1.199943e+09,199276667.0,2306.442905
23,0426,2001-09-22 03:11:47,2007-12-14 18:38:57,1.001092e+09,1.197618e+09,196525630.0,2274.602199
24,0427,2001-09-10 14:39:01,2007-09-09 16:04:44,1.000097e+09,1.189318e+09,189221143.0,2190.059525
25,0424,2001-09-25 21:26:06,2007-12-27 14:22:29,1.001417e+09,1.198726e+09,197308583.0,2283.664155
26,0425,2001-10-12 19:05:12,2007-12-14 13:13:53,1.002874e+09,1.197598e+09,194724521.0,2253.756030
27,0549,2001-10-27 13:25:52,2007-10-25 11:24:56,1.004150e+09,1.193272e+09,189122344.0,2188.916019
28,0423,2001-09-22 11:25:57,2008-01-07 08:37:32,1.001122e+09,1.199655e+09,198533495.0,2297.841377
29,0420,2001-09-19 06:07:25,2007-12-13 20:32:51,1.000844e+09,1.197538e+09,196694726.0,2276.559329
...,...,...,...,...,...,...,...
969,0089,2001-11-01 19:06:46,2008-01-07 21:29:07,1.004602e+09,1.199702e+09,195099741.0,2258.098854
970,0084,2001-10-17 23:54:12,2008-01-07 10:41:29,1.003323e+09,1.199663e+09,196339637.0,2272.449502
971,0085,2001-09-14 23:14:43,2008-01-05 01:26:55,1.000473e+09,1.199457e+09,198983532.0,2303.050139
972,0086,2001-10-03 20:40:32,2008-01-04 19:18:05,1.002106e+09,1.199435e+09,197329053.0,2283.901076
973,0087,2001-11-12 08:13:27,2008-01-03 00:44:45,1.005513e+09,1.199281e+09,193768278.0,2242.688403
974,0080,2001-09-16 00:40:16,2007-12-23 20:00:23,1.000565e+09,1.198400e+09,197835607.0,2289.763970
975,0081,2001-09-10 08:51:16,2008-01-06 10:46:04,1.000076e+09,1.199577e+09,199500888.0,2309.038056
976,0082,2001-10-06 07:10:48,2007-12-16 18:17:08,1.002316e+09,1.197789e+09,195473180.0,2262.421065
977,0083,2001-09-11 02:04:49,2007-12-23 09:39:45,1.000138e+09,1.198363e+09,198225296.0,2294.274259
978,0483,2002-01-29 04:53:26,2007-11-27 17:41:23,1.012240e+09,1.196146e+09,183905277.0,2128.533299
979,0431,2001-10-30 11:40:26,2007-12-10 20:53:27,1.004402e+09,1.197280e+09,192877981.0,2232.384039
980,0949,2001-09-11 05:44:26,2007-11-13 03:32:06,1.000151e+09,1.194885e+09,194734060.0,2253.866435
981,0948,2001-09-16 08:46:33,2007-12-09 18:33:14,1.000594e+09,1.197186e+09,196591601.0,2275.365752
982,0702,2001-09-22 10:26:12,2007-12-28 12:30:36,1.001118e+09,1.198805e+09,197687064.0,2288.044722
983,0941,2001-09-25 22:25:22,2008-01-07 17:18:45,1.001421e+09,1.199687e+09,198266003.0,2294.745405
984,0940,2001-09-10 15:59:52,2007-12-18 19:49:25,1.000102e+09,1.197968e+09,197866173.0,2290.117743
985,0943,2001-10-19 05:07:52,2008-01-03 19:22:17,1.003428e+09,1.199349e+09,195920065.0,2267.593345
986,0942,2001-10-16 19:48:31,2008-01-06 21:18:30,1.003222e+09,1.199615e+09,196392599.0,2273.062488
987,0945,2001-09-14 05:56:47,2008-01-05 05:11:05,1.000411e+09,1.199470e+09,199059258.0,2303.926597
988,0316,2001-09-09 14:00:12,2007-12-28 06:49:28,1.000008e+09,1.198785e+09,198776956.0,2300.659213
989,0947,2001-09-14 01:12:56,2007-11-29 00:18:59,1.000394e+09,1.196256e+09,195861963.0,2266.920868
990,0946,2001-10-29 12:11:03,2008-01-02 18:29:01,1.004318e+09,1.199259e+09,194941078.0,2256.262477
991,0700,2001-09-14 20:09:28,2007-12-23 04:23:12,1.000462e+09,1.198344e+09,197882024.0,2290.301204
992,0288,2001-09-11 21:46:47,2008-01-03 07:32:18,1.000209e+09,1.199306e+09,199097131.0,2304.364942
993,0310,2001-09-09 18:16:33,2008-01-05 20:38:39,1.000023e+09,1.199526e+09,199502526.0,2309.057014
994,0289,2001-09-27 07:33:14,2007-12-26 14:28:03,1.001540e+09,1.198640e+09,197099689.0,2281.246400
995,0706,2001-09-11 02:14:06,2008-01-05 23:01:24,1.000138e+09,1.199534e+09,199396038.0,2307.824514
996,0705,2001-11-26 01:18:02,2007-12-26 18:45:37,1.006698e+09,1.198655e+09,191957255.0,2221.727488
997,0911,2001-09-27 18:45:24,2008-01-08 23:56:51,1.001580e+09,1.199797e+09,198216687.0,2294.174618
998,0704,2001-09-28 16:55:54,2007-12-15 12:39:02,1.001660e+09,1.197683e+09,196022588.0,2268.779954